/* Colors */

:root {
    --light-bg-color: #ede0e4;
    --pink-bg-color: #edbbcb;
    --gray-bg-color: #f6f6f6;
    --header-back-color: #880b34;
    --dark-fg-color: #181818;
    --light-fg-color: #666;
    --card-back-color: #f6f6f6;
    --card-header-back-color: #ede0e4;
    --back-color: #333;
    --sub-header-bg-color: #ed145b;
}

body {
    color: #444444;
}

/* Flex layout */
.postindex {
    justify-content: space-around;
}

#blog-title {
    font-family: "Liberation Serif", Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

#header {
    height: auto;
    margin-bottom: 0;
    white-space: normal;
    overflow-y: visble;
}

#header .button {
    color: white;
}

#header .button:hover,
#header .button:active {
    background-color: var(--pink-bg-color);
}

#site_description {
    background-color: var(--sub-header-bg-color);
    width: 100%;
    margin: 0 0 var(--universal-margin) 0;
}

#site_description h2 {
    color: #111;
    font-family: "Liberation Serif", Times, Times New Roman, serif;
    font-size: 1.69rem;
    margin: 0;
    padding: calc(1.5 * var(--universal-margin));
}


footer.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  background-color: var(--card-header-back-color);
  text-align: center;
  padding: var(--universal-padding) var(--universal-padding);
}

.footer p {
  font-size: 0.875rem;
  color: var(--light-fg-color);
  margin-top: 0.2rem;
}

.container {
    padding-bottom: 100px;
}

/* Cards */

.card {
    max-width: 350px;
}

.card {
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(204,204,204,1);
    -moz-box-shadow: 4px 4px 3px 0px rgba(204,204,204,1);
    box-shadow: 4px 4px 3px 0px rgba(20,20,20,1);
    min-height: 120px;
}

.card .card-header {
    color: var(--dark-fg-color);
    font-weight: bold;
    background-color: var(--card-header-back-color);
    display: flex;
    padding: 0;
    margin: 0;
}

.card .card-header h1 {
    flex-grow: 3;
    font-size: calc(1rem * var(--heading-ratio));
    font-weight: bold;
    line-height: 1.5;
    padding: var(--universal-padding);
    padding-right: 0.2rem;
    margin: 0;
}

.card .card-header .project-links {
/*
    flex: 0 0 100px;
*/
    text-align: right;
    font-size: calc(1rem * var(--heading-ratio));
    padding: var(--universal-padding);
    padding-left: 0.2rem;
    margin: 0;
}

.card .card-footer {
    color: var(--gray-fg-color);
    display: flex;
    font-size: smaller;
    padding: 0;
}

.card .byline {
    flex-grow: 3;
    color: var(--light-fg-color);
}

.card .dateline {
    background-color: var(--gray-bg-color);
    text-align: right;
}

.card .dateline a {
    text-decoration: none;
    color: var(--light-fg-color);
}


/* Fonts */

html, * {
    font-family: "PT Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Extra icons */
span.icon-repo {
  background-image: url("../img/code.svg");
}

a[href*="github.com"] span.icon-repo {
  background-image: url("../img/github.svg");
}

a[href*="gitlab.com"] span.icon-repo {
  background-image: url("../img/gitlab.svg");
}

span.icon-notes {
  background-image: url("../img/file-text.svg");
}


/* posts / stories */

.postpage,
.storypage {
    border-radius: 3px;
    background-color: var(--card-back-color);
}

a.permalink {
    visibility: hidden;
    color: var(--light-fg-color);
    font-size: 0.5rem;
}

a.permalink:hover {
    visibility: visible;
}

.entry-content h2 a {
    color: #444;
}